$input-btn-focus-color: rgba(134, 0, 0, 0.411);
$form-select-focus-border-color: rgb(231, 143, 143);
$input-focus-border-color: rgb(231, 143, 143);
$toast-border-color: hotpink;
$modal-content-border-color: hotpink;